In [20]:
import pandas as pd

In [22]:
house_data = pd.read_csv(r"C:\Users\OPETUNDE\Downloads\house_data\house_data.csv")

In [24]:
house_data.columns

Index(['Id', 'MSSubClass', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'BsmtFinSF1', 'BsmtUnfSF', 'TotalBsmtSF',
       '1stFlrSF', '2ndFlrSF', 'GrLivArea', 'BsmtFullBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [25]:
house_data= house_data.dropna(axis = 0)

In [26]:
y = house_data.SalePrice

In [27]:
house_data_features = ['LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd','GarageArea', 'PoolArea' ]

In [28]:
X = house_data[house_data_features]

In [30]:
X.describe()

,LotArea,OverallQual,OverallCond,YearBuilt,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,GarageArea,PoolArea
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,10516.828082,6.099315,5.575342,1971.267808,1.565068,0.382877,2.866438,1.046575,6.517808,472.980137,2.758904
std,9981.264932,1.382997,1.112799,30.202904,0.550916,0.502885,0.815778,0.220338,1.625393,213.804841,40.177307
min,1300.000000,1.000000,1.000000,1872.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000
25%,7553.500000,5.000000,5.000000,1954.000000,1.000000,0.000000,2.000000,1.000000,5.000000,334.500000,0.000000
50%,9478.500000,6.000000,5.000000,1973.000000,2.000000,0.000000,3.000000,1.000000,6.000000,480.000000,0.000000
75%,11601.500000,7.000000,6.000000,2000.000000,2.000000,1.000000,3.000000,1.000000,7.000000,576.000000,0.000000
max,215245.000000,10.000000,9.000000,2010.000000,3.000000,2.000000,8.000000,3.000000,14.000000,1418.000000,738.000000

In [31]:
X.head()

,LotArea,OverallQual,OverallCond,YearBuilt,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,GarageArea,PoolArea
0,8450,7,5,2003,2,1,3,1,8,548,0
1,9600,6,8,1976,2,0,3,1,6,460,0
2,11250,7,5,2001,2,1,3,1,6,608,0
3,9550,7,5,1915,1,0,3,1,7,642,0
4,14260,8,5,2000,2,1,4,1,9,836,0

In [32]:
from sklearn.tree import DecisionTreeRegressor

In [33]:
house_model = DecisionTreeRegressor(random_state = 1)

In [34]:
house_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [38]:
print(f'Prediction for the first five houses\n{X.head()}')
print(f'\nThe predictions are{house_model.predict(X.head())}')

Prediction for the first five houses
   LotArea  OverallQual  OverallCond  YearBuilt  FullBath  HalfBath  \
0     8450            7            5       2003         2         1
1     9600            6            8       1976         2         0
2    11250            7            5       2001         2         1
3     9550            7            5       1915         1         0
4    14260            8            5       2000         2         1

   BedroomAbvGr  KitchenAbvGr  TotRmsAbvGrd  GarageArea  PoolArea
0             3             1             8         548         0
1             3             1             6         460         0
2             3             1             6         608         0
3             3             1             7         642         0
4             4             1             9         836         0

The predictions are[208500. 181500. 223500. 140000. 250000.]

In [42]:
from sklearn.metrics import mean_absolute_error

In [46]:
predicted_home_prices = house_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

23.41187214611873

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
train_X, val_X, train_y, val_y = train_test_split(X,y, random_state = 1)

In [49]:
house_model = DecisionTreeRegressor()
house_model.fit(train_X, train_y)

DecisionTreeRegressor()

In [52]:
val_predictions = house_model.predict(val_X)
print(f'{mean_absolute_error(val_y, val_predictions)}')

28561.783561643835